body{
    text-align: center;
    background-color: burlywood;
}
.btn{
    height:200px;
    width:200px;
    border-radius: 20%;
    border:10px solid black;
    margin: 1.4rem;
}
.btn-container{
    display:flex;
    justify-content: center;
}

.blue{
    background-color: #4D96FF;
}
.yellow{
    background-color: #FFD93D;
}
.red{
    background-color:  #FF6B6B;
}
.green{
    background-color: #6BCB77;
}
.gameflash{
    background-color: #FAF3DD;
}
.userflash{
    background-color: #FFB703;
}